body {
    background-color: #FFFFFF;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.lame {
    display: inherit;
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    font-size: 3rem;
}

.slogo {
    display: inherit;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5rem;
}

.pusher {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.pusher > .footer {
    flex: 1;
}