
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <img src="{{ .Site.Params.accentLogo }}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            {{ range .Site.Menus.tomato_footer }}
            <a class="item" href="{{ .URL }}">{{ .Title }}</a>
            {{ end }}
        </div>
    </div>
</div>

</div>
</body>
</html>