<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/tomato-tomato.css">
    <title>{{ .Title }}</title>


</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ .Site.Home.URL }}" class="header item">
            <img class="logo" src="{{ .Site.Params.accentLogo }}">
            {{ .Site.Home.Title }}
        </a>
        {{ range .Site.Menus.tomato_tomato }}
        <a class="item" href="{{ .URL }}" title="{{ .Title }}">{{ .Title }}</a>
        {{ end }}
    </div>
</div>

<div class="pusher">
<div class="ui main text container">
