{{ partial "header.html" . }}

<div class="ui basic segment">
    <img class="ui centered medium image" src="{{ .Site.Params.logo }}">
    <span class="ui centered lame">{{ .Site.Params.lame }}</span>
    <span class="ui centered slogo">{{ .Site.Params.slogo }}</span>
</div>


{{ .Content }}

{{ partial "footer.html" . }}